.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.block-container {
  border: 1px solid #3e3e3e;
  margin: 10px;
  padding: 0.325rem;
  border-radius: 0.5rem;
  transition: border 0.18s ease-out;
}

.block-container.isFocused {
  border-color: #530db1;
}

.block-container-vertical {
  display: flex;
  flex-direction: column;
}

.block {
  color: white;
  display: grid;
  place-content: center;
  background: #3c3c3c;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 1rem 1.75rem;
  margin: 0.325rem;
  border-radius: 0.4rem;
  transition: border 0.18s ease-out;
}

.block.isFocusedLeaf {
  background: #7700ff;
}

.flex {
  display: flex;
}

.block-title {
  margin: 0.5rem;
  font-size: 1.25rem;
  font-weight: 900;
  color: white;
}
