.profiles {
  /* This places the profile choice screen above the home page */
  z-index: 20;
  padding-top: 200px;
}

.profiles_title {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 50px;
}

.profiles_profileList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}
