html,
body {
  cursor: default;
}

code {
  cursor: text;
}

/* 
textarea and input[type="text"] already receive 
"cursor: text" via browsers' base stylesheets 
*/

a,
label,
button,
input[type='radio'],
input[type='submit'],
input[type='checkbox'] {
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}
